.title {
  padding-top: 50px;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #484747;
}

.titleblock {
	width: 100%;
	text-align: center;
	background: url(/images/titleart.PNG);
	background-position: center;
	background-repeat: no-repeat;
	border-bottom: 4px solid white;

}

.subtitle{
	color: black;

}
