
.navbar li {
    display: inline-block;
    padding: 10px 0;
    width: 33.3%;
    text-align: center;
}


.navbar ul {
	width: 100%;
}

.navbar a {
    text-decoration: none;
    color: white;
    /*font-weight: 900;*/
}


.navbar {
    background: #484747;
    min-height: 70px;
    position: fixed;
    width: 100%;
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: white;
    font-size: calc(10px + 14 * (100vw - 320px)/ 1000);
    z-index: 99;
    white-space: nowrap;
}